<?xml version="1.0" ?>
<launch>
  <!-- Convert an xacro and put on parameter server -->	
  <param name="robot_description" command="$(find xacro)/xacro $(find otter_description)/urdf/otter.xacro" />

  <!-- Publish the state of the robot to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
