<?xml version="1.0" ?>
<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find otter_gazebo)/worlds/otter.world"/>
    <!-- more default parameters can be changed here -->
  </include>
 
  <!-- Spawn the Otter -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find otter_description)/urdf/otter.xacro" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model otter -param robot_description" />

</launch>
