<?xml version="1.0" ?>
<launch>

  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="false" />
  <arg name="world_name" default="$(find otter_gazebo)/worlds/otter_obstacles.world" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(arg world_name)" />

  </include>
 
  <!-- Spawn the Otter -->
  <rosparam file="$(find otter_gazebo)/config/gazebo_ros_control_params.yaml" command="load"/>
  <include file="$(find otter_description)/launch/description.launch" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model otter -param robot_description -z 1" />

  <!-- Launch controls -->
  <include file="$(find otter_control)/launch/control.launch" />

</launch>
