<?xml version="1.0" ?>
<launch>

  <!-- launch-prefix="gdb -ex run \-\-args" -->
  <node name="coverage_node" pkg="coverage_boustrophedon" type="coverage_node" output="screen">
    <param name="tile_resolution" value="10" />
    <param name="goal_tolerance"  value="3.0" />
    <param name="scan_range"      value="20" />
  </node>

  <node name="simple_dubins_path_node" pkg="coverage_boustrophedon" type="simple_dubins_path_node" output="screen">
    <param name="turning_radius"  value="2.5" />
    <param name="path_resolution" value="0.10" />
  </node>

</launch>
