<?xml version="1.0" ?>
<launch>

  <!-- launch-prefix="gdb -ex run \-\-args" -->
  <node name="coverage_node" pkg="coverage_boustrophedon" type="coverage_node" output="screen">
    <param name="tile_resolution" value="1" />
    <param name="goal_tolerance"  value="3.0" />
    <param name="scan_range"      value="20" />
    <param name="coverage_size"   value="5" />

    <param name="x0"              value="-100" />
    <param name="y0"              value="-50" />
    <param name="x1"              value="100" />
    <param name="y1"              value="50" />
  </node>

  <node name="simple_dubins_path_node" pkg="coverage_boustrophedon" type="simple_dubins_path_node" output="screen">
    <param name="turning_radius"  value="1.5" />
    <param name="path_resolution" value="0.02" />
  </node>

  <!--<include file="$(find guidance)/launch/real_guidance.launch">
  </include>-->

</launch>
