<?xml version="1.0" ?>
<launch>

  <node name="nmeaNode" pkg="nmea_navsat_driver" type="nmea_tcp_driver" output="screen" >
    <!-- <param name="time_ref_source" type="string" value="" /> -->
    <param name="useRMC"    type="bool"    value="false" />
    <param name="ip"        type="string"  value="192.168.53.2" />
    <param name="port"      type="int"     value="2002" />
    <param name="frame_id"  type="string"  value="gps" />

    <remap from="fix"             to="gps/fix" />
    <remap from="vel"             to="gps/vel" />
    <remap from="heading"         to="gps/heading" />
    <remap from="time_reference"  to="gps/time_reference" />
  </node>

</launch>