<?xml version="1.0"?>
<launch>

  <node pkg="sensors" type="quat2rpy.py" name="quat2rpy" output="screen">
    <remap from="in_topic" to="imu/data" />
    <remap from="out_topic" to="imu/rpy" />
    <param name="input_msg_type" value="Imu" />
    <param name="modelstates_index" value="6" type="int" />
  </node>

</launch>
