<launch>

  <arg name="host" default="192.168.53.2" />
  <arg name="port" default="10010"     />

  <node name="mr_obs_connector" pkg="mr_obs_connector" type="mr_obs_connector.py" output="screen">
    <param name="host" value="$(arg host)" />
    <param name="port" value="$(arg port)" />
    <remap from="speed_course" to="speed_heading" />
  </node>

</launch>
