<?xml version="1.0" ?>
<launch>

  <arg name="rviz"          default="true" />
  <arg name="use_bag_file"  default="false" />

  <!-- Make sure not to use simulated time, unless playing from bagfile -->
  <param name="use_sim_time" value="$(arg use_bag_file)" />

  <!-- Start the RPLIDAR -->
  <include file="$(find sensors)/launch/lidar.launch" unless="$(arg use_bag_file)" />

  <!-- Start the Xsens IMU -->
  <include file="$(find sensors)/launch/imu.launch"   unless="$(arg use_bag_file)" />

  <!-- Start the GPS -->
  <include file="$(find sensors)/launch/gps.launch"   unless="$(arg use_bag_file)" />

  <!-- Use android smart phone for IMU and GPS -->
  <!--<node pkg="sensors" type="android_filter_node" name="android_filter_node" />-->

  <!-- Generate odom from IMU/GPS -->
  <include file="$(find sensors)/launch/localization.launch" />

  <!-- This node remaps 'inf' in laser scans to 'max_range - 0.01', which ensures
  that raytracing of free space can be done in other nodes. -->
  <node name="laser_filter_node" pkg="sensors" type="laser_filter_node">
    <remap from="scan"          to="lidar/scan"/> <!-- Input -->
    <remap from="filtered_scan" to="filtered_scan"/> <!-- Output -->
  </node>

  <!-- Static transform publishers: defines transformations between lidar, IMU, GPS, and base of the Otter.
    Measure the relative positions accurately, as the SLAM algorithm depends on it. -->
  <!-- args: x y z yaw pitch roll parent_frame child_frame period_in_ms -->

  <!-- Place base_link at IMU location. -->
  <node pkg="tf" type="static_transform_publisher" name="base_imu_link" args="0 0 0 0 0 0 base_link imu_link 100" />
  <!-- RPLIDAR is 30 cm above IMU, at same y, and 49 cm forward in x-driection.
  Rotated r in roll, p in pitch, 3.14 in yaw. -->
  <node pkg="tf" type="static_transform_publisher" name="base_laser_link" args="-0.49 0 0.30 3.14 0 0 base_link lidar_link 100" />
  <!-- GPS antenna base is 10 cm directly above IMU -->
  <node pkg="tf" type="static_transform_publisher" name="base_gps_link" args="0 0 0.10 0 0 0 base_link gps 100" />

  <!-- Start the Cartographer SLAM node -->
  <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
        -configuration_directory $(find otter_slam)/config
        -configuration_basename real_otter.lua"
        output="screen">
    <remap from="imu"  to="imu/data" />
    <remap from="scan" to="filtered_scan" />
    <remap from="odom" to="odom" />
    <remap from="fix" to="gps/fix" /> <!-- Not implemented for 2D -->
  </node>

  <!-- Visualize in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find otter_slam)/config/slam.rviz" if="$(arg rviz)" />

</launch>
