<?xml version="1.0" ?>
<launch>

  <arg name="sensors" default="true" />
  <arg name="rviz"    default="true" />

  <!-- Start the RPLIDAR -->
  <include file="$(find otter_slam)/launch/lidar.launch" if="$(arg sensors)" />

  <!-- Start the Xsens IMU -->
  <include file="$(find otter_slam)/launch/imu.launch" if="$(arg sensors)" />

  <!-- TODO: Start the GPS -->


  <!-- Static transform publishers: defines transformations between lidar, IMU, GPS, and base of the Otter.
    Measure the relative positions accurately, as the SLAM algorithm depends on it. -->
  <!-- args: x y z yaw pitch roll parent_frame child_frame period_in_ms -->
  <node pkg="tf" type="static_transform_publisher" name="base_laser_link" args="0 0 0 0 0 0 base_link lidar_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_imu_link" args="0 0 0 0 0 0 base_link imu_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_gps_link" args="0 0 0 0 0 0 base_link gps_link 100" />

  <!-- Start the Cartographer SLAM node -->
  <node name="cartographer_node" pkg="cartographer_ros"
    type="cartographer_node" args="
    -configuration_directory $(find otter_slam)/config
    -configuration_basename otter.lua"
    output="screen">
  </node>

  <!-- Visualize in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
  args="-d $(find otter_slam)/config/slam.rviz" if="$(arg rviz)" />

</launch>
